.uploading-panel {
  margin-top: 15px;
  margin-left: 10px;
  display: flex;
}
.sampleNameInput input {
  width: 50%;
  min-width: 100px;
}
.sampleNameInput label {
  display: block;
}
.sampleNameInput {
  height: 25px;
  margin-right: 15px;
}
.uploadButton {
  width: 52%;
  margin-top: 15px;
  min-width: 35px;
  display: flex;
  justify-content: space-between;
}
.uploadButton button {
  height: 25px;
  font-size: large;
}
.uploadButton button:hover {
  cursor: pointer;
}

@media (max-width: 750px) {
  .uploadButton {
    display: inline-block;
  }
  .uploadButton button {
    margin-bottom: 5px;
  }
}
